.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu > il:hover {
    cursor: pointer;
    color: var(--orange);
}

.x {
    display: none;
}

@media screen and (max-width: 768px) {

    .header >:nth-child(2) {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }

    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
        top: 8px;
        border-radius: 5px;
    }

    .x {
        display: block;
        font-size: 30px;
        color: var(--grey);
        position: absolute;
        display: flex;
        top: 5px;
        right: 10px;

    }

}